.center-error-text{
    width: 100%;
    padding: 100px 30px;
    font-family: "Open Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    .title{
        color: #203E4F;
        font-size: 42px;
        font-weight: 900;
        padding: 5px;
    }
    .text{
        color: #696968;
        font-size: 18px;
        font-weight: 400;
    }
}