section.al-container.acesso{
    padding: 100px 0 50px 0;
    @media screen and (max-width: $tb) {
        padding: 50px 0;
    }
    .links{
        display: flex;
        column-gap: 40px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: space-evenly;
        @media screen and (max-width: $tb) {
            row-gap: 20px;
            column-gap: 20px;
        }
        .link-acesso{
            background: #0098DB;
            display: inline-flex;
            width: calc(20% - 32px);
            min-height: 115px;
            border-radius: 10px;
            @media screen and (max-width: $tb) {
                width: calc(50% - 10px);
            }
            >a{
                width: 100%;
                height: 100%;
                display: flex;
                padding: 15px 20px;
                @media screen and (max-width: $tb) {
                    padding: 15px 5px;
                }
            }
            .content{
                margin: auto;
                .img-container{
                    display: flex;
                    padding-bottom: 10px;
                    img{
                        margin: auto;
                        max-width: 32px;
                        max-height: 32px;
                    }
                }
                p{
                    text-align: center;
                    font: normal normal bold 16px/16px Jaldi;
                    letter-spacing: 0px;
                    color: $white;
                    text-transform: uppercase;
                    opacity: 1;
                    min-height: 32px;
                }
            }
        }
    }
}