section.al-container.archive{
    padding: 50px 0;
    &.abertura{
        padding-top: 100px;
        padding-bottom: 30px;
        display: flex;
        h1{
            display: inline-block;
            margin-right: auto;
            font: normal normal bold 30px/35px Jaldi;
            color: $white;
            position: relative;
            &::before{
                content: "";
                width: 135px;
                border-bottom: 1px solid $white;
                position: absolute;
                bottom: -5px;
            }
        }
        label{
            display: inline-block;
            font: normal normal normal 14px/19px Jaldi;
            color: $white;
        }
        i{
            vertical-align: middle;
            margin-left: 5px;
            color: $white;
            font: normal normal normal 14px/19px;
        }
        button{
            cursor: pointer;
            i{
                vertical-align: middle;
                margin-left: 5px;
                color: $white;
                font: normal normal normal 14px/19px;
                transition: all .3s;
            }
            &:hover{
                i{
                    color: $primary-color;
                }
            }
        }
        input{
            display: block;
            background: transparent;
            border: none;
            border-bottom: 2px solid $white;
            outline: none;
            margin-top: 5px;
            color: $white;
        }
    }
    &.blog{
        column-count: 3;
        column-gap: 30px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        @media screen and (max-width: $tb) {
            column-count: 2;
        }
        @media screen and (max-width: $sm) {
            column-count: 1;
            column-gap: 0px;
        }
        >article{
            display: inline-block;
            width: calc(33% - 20px);
            position: relative;
            @media screen and (max-width: $tb) {
                width: calc(50% - 15px);
            }
            @media screen and (max-width: $sm) {
                width: 100%;
            }
            >a{
                display: flex;
                height: 373px;
                img{
                    margin: auto;
                    display: inline-block;
                    width: 100%;
                    border-radius: 10px;
                    height: 100%;
                }
            }
            .blue-wrap{
                background: rgba(0, 39, 132, 0.7) 0% 0% no-repeat padding-box;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 0px 8px 8px 8px;
                h3{
                
                    color: #FFC500;             
                    font: normal normal normal 22px/20px Jaldi;
                }
                span.date{
                    color: #fff;
                }
            }
        }
        .pagination{
            width: 100%;
            text-align: center;
            .page-numbers{
                text-align: center;
                font: normal normal bold 12px/16px Jaldi;
                letter-spacing: 0.36px;
                color: $white;
                text-transform: uppercase;
                background: #BCE0FD 0% 0% no-repeat padding-box;
                border-radius: 5px;
                padding: 3px 5px;
                transition: all .3s;
                &.current, &.next, &.prev, &:hover{
                    background-color: $primary-color;
                }
                &.next, &.prev{
                    &:hover{
                        background-color: $tertiary-color;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
  
.topo{
    background-image: url('assets/images/Banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}