.all-clientes{
    .row-clientes{
        padding: 40px 0;
        .title{
            font-family: "Open Sans", sans-serif;
            color: #203E4F;
            font-size: 42px;
            font-weight: 1000;
            text-transform: uppercase;
        }
        .clientes{
            padding: 40px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .cliente{
                width: 180px;
                padding: 0 20px;
            }
        }
    }
}
@media screen and(max-width: 1230px){
    .all-clientes{
        .row-clientes{
            padding: 40px 10px;
            .title{
                text-align: center;
            }
            .clientes{
                justify-content: center;
            }
        }
    }
}