.row-contato{
    padding: 80px 0;
    .title{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 42px;
        font-weight: 1000;
        text-transform: uppercase;
    }
    .row-contatos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        .contato{
            padding: 0 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .link{
                font-family: "Open Sans", sans-serif;
                color: #777777;
                text-transform: lowercase;
                font-size: 28px;
                font-weight: 600;
            }
            img{
                padding: 0 10px;
            }
            .link:hover{
                color: #333;
                font-weight: 600;
            }
        }
    }
}
.pop-up{
    @media screen and(max-width: 800px) {
        .wpcf7-form{
            label{
                font-size: 16px!important;
            }
            label span{
                padding: 0!important;
            }
            .wpcf7-submit, #forcurriculo, .wpcf7-form-control, p{
                width: 100%!important;
                margin: 0!important;
            }
            .wpcf7-textarea{
                height: 75px!important;
                padding: 7px 20px!important;
            }
        }
    }
    .wpcf7-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        label{
            font-family: "Open Sans", sans-serif;
            color: #1034a6;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            display: flex;
            flex-wrap: wrap;
            span{
                width: 100%;
                padding: 5px 0;
            }
        }
        p{
            width: 50%;
            padding: 10px 0;
        }
        .wpcf7-form-control{
            width: 90%;
            background-color: #F5F5F5;
            border: none;
            height: 40px;
            border-radius: 8px;
            padding: 0px 20px;
            font-family: "Open Sans", sans-serif;
            color: #777777;
            font-size: 16px;
            outline: none;
            font-weight: 400;
        }
        .wpcf7-select{
            -webkit-appearance: none;
            background: url() no-repeat center right 5% #F5F5F5;
        }
        .wpcf7-select:select{
            background-color: #F5F5F5;
        }
        .wpcf7-textarea{
            width: 100%;
            height: 85px;
            padding: 20px 20px;
        }
        .wpcf7-submit{
            cursor: pointer;
            padding: 5px 0;
            font-family: "Open Sans", sans-serif;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            border-radius: 50px;
            text-transform: uppercase;
            background-color: #3FD14E;
            width: 216px;
        }
        .wpcf7-spinner{
            display: none;
        }
    }
    .wpcf7-form::placeholder{
        font-family: "Open Sans", sans-serif;
        color: #777777;
        font-size: 16px;
        font-weight: 600;
    }
}
#modal{    
	position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999;
	.close{
		position: absolute;
		cursor: pointer;
		padding: 1px 5px; 
		border: solid 2px #000;
		border-radius: 9999952px; 
		width: fit-content;
		position: absolute;
        padding: 3px 8px;
        top: 0%;
        left: auto;
        right: 0px;
	}
	.sombra{
		background-color: #000;
		opacity: 0.4;
		width: 100vw;
		height: 100vh;
	}
	.pop-up{
        .contain{
            position: relative;
        }
        max-height: 90vh;
        border-radius: 20px;
        background-color: #FFF;
        padding: 40px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80%!important;
        margin: auto;
		@media screen and(max-width: 800px) {
            width: 90%!important;
            overflow: scroll;
            padding: 20px;
		}
	}
}
.row-button{
    width: fit-content;
    margin: auto;
    padding: 20px;
    a{
        cursor: pointer;
        background-color: rgb(1, 162, 233);
        padding: 4px 20px;
        border-radius: 8px;
        font-family: "Open Sans", sans-serif;
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
        border: 1px solid rgb(1, 162, 233);
        transition: all .3s;
        &:hover{
            background-color: #FFF;
            color: rgb(1, 162, 233);
        }
    }
}
.row-form{
    padding: 80px 0;
    .al-container{
        .text{
            width: 65%;
            font-family: "Open Sans", sans-serif;
            color: #363636;
            font-size: 16px;
            font-weight: 500;
        }
        .form{
            padding: 4% 2%;
            .wpcf7-form{
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                label{
                    font-family: "Open Sans", sans-serif;
                    color: #1034a6;
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: flex;
                    flex-wrap: wrap;
                    span{
                        width: 100%;
                        padding: 5px 0;
                    }
                }
                p{
                    width: 50%;
                    padding: 10px 0;
                }
                .wpcf7-form-control{
                    width: 90%;
                    background-color: #F5F5F5;
                    border: none;
                    height: 40px;
                    border-radius: 8px;
                    padding: 0px 20px;
                    font-family: "Open Sans", sans-serif;
                    color: #777777;
                    font-size: 16px;
                    outline: none;
                    font-weight: 400;
                }
                .wpcf7-select{
                    -webkit-appearance: none;
                    background: url() no-repeat center right 5% #F5F5F5;
                }
                .wpcf7-select:select{
                    background-color: #F5F5F5;
                }
                .wpcf7-textarea{
                    width: 100%;
                    height: 150px;
                    padding: 20px 20px;
                }
                .wpcf7-submit{
                    cursor: pointer;
                    padding: 5px 0;
                    font-family: "Open Sans", sans-serif;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 50px;
                    text-transform: uppercase;
                    background-color: #3FD14E;
                    width: 216px;
                }
                .wpcf7-spinner{
                    display: none;
                }
            }
            .wpcf7-form::placeholder{
                font-family: "Open Sans", sans-serif;
                color: #777777;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
.row-localizacao{
    padding-top: 80px;
    padding-bottom: 40px;
    .al-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        .link{
            padding: 0 15px;
            font-family: "Open Sans", sans-serif;
            color: #777777;
            font-size: 24px;
            font-weight: 600;
        }
        .link:hover{
            color: #333;
            font-weight: 600;
        }
    }
}
.map{
    height: 471px;
}
@media screen and(max-width: 1230px) {
    .fa-2x{
        font-size: 3em;
        width: 6%;
        margin-left: auto;
        margin-right: auto;
    }
    .row-localizacao{
        padding: 40px 15px;
        .al-container{
            .link{
                padding: 0 20px;
                font-size: 20px;
                width: 75%;
            }
        }
    }
    .row-contato{
        width: 100%;
        padding: 80px 5%;
        .al-container{
            .title{
                text-align: center;
            }
            .row-contatos{
                .contato{
                    padding: 10px 0;
                    .link{
                        font-size: 20px;                
                    }
                    img{
                        height: 16px;
                    }
                }
            }
        }
    }  
    .row-form{    
        width: 100%;
        padding: 80px 5%;
        .al-container{
            .text{
                width: 100%!important;
            }
            .form{
                .wpcf7-form{
                    .wpcf7-submit, #forcurriculo, .wpcf7-form-control, p{
                        width: 100%!important;
                        margin: 0!important;
                    }
                }
            }
        }
    }
}