section.al-container.cursos{
    padding: 50px 0;
    .regulamentos-container{
        .regulamentos{
            display: none;
        }
    }
    &.abertura{
        padding-top: 100px;
        padding-bottom: 30px;
        display: block;
        h1{
            display: block;
            margin-right: auto;
            font: normal normal bold 30px/35px Jaldi;
            color: $white;
            position: relative;
            width: 100%;
            &::before{
                content: "";
                width: 135px;
                border-bottom: 1px solid $white;
                position: absolute;
                bottom: -5px;
            }
        }
        .icons{
            column-count: 3;
            column-gap: 30px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            width: 300px;
            padding-top: 45px;
            >div{
                display: inline-block;
                width: calc(33% - 19px);
                text-align: center;
                img, svg{
                    width: 30px;
                    height: 23px;
                    display: inline-block;
                    object-fit: contain;
                }
                p{
                    text-align: center;
                    font: normal normal bold 16px/12px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    text-transform: uppercase;
                    padding-top: 10px;
                }
                span{
                    text-align: center;
                    font: normal normal normal 12px/12px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    text-transform: uppercase;
                }
            }
        }
    }
    &.article{
        >.button.mobile{
            color: $secondary-color;
            font: normal normal bold 18px/24px Jaldi;
            letter-spacing: 0.75px;
            display: none;
            padding: 12px;
            width: 300px;
            max-width: 60%;
            position: fixed;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            &:hover{
                color: $white;
            }
            @media screen and (max-width: $tb) {
                display: block;
            }
        }
        >.left{
            width: 66%;
            padding-right: 30px;
            @media screen and (max-width: $tb) {
                width: 100%;
                padding-right: 0px;
            }
            .content{
                @media screen and (max-width: $tb) {
                    z-index: -2;
                    position: relative;
                }
                p{
                    text-align: left;
                    font: normal normal normal 14px/19px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 20px;
                }
                h2{
                    font: normal normal bold 18px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    padding-bottom: 30px;
                }
            }
            .arquivos{
                >div{
                    padding: 0;
                    margin: 0;
                    @media screen and (max-width: $tb) {
                        position: absolute;
                        width: 100%;
                        height: 100vh;
                        background: white;
                        z-index: -1;
                    }
                }
                @media screen and (max-width: $tb) {
                    position: relative;
                    z-index: 1;
                }
                a{
                    font: normal normal bold 16px/12px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    text-transform: uppercase;
                    margin-right: 10px;
                    @media screen and (max-width: $tb) {
                        display: block;
                        padding-bottom: 25px;
                    }
                    img{
                        vertical-align: bottom;
                        margin-right: 5px;
                    }
                }

            }
            .graduacao{
                height: 242px;
                width: 100%;
                padding: 25px 80px;
                background: url('assets/images/azul-claro.png'), transparent linear-gradient(270deg, #C2E0FA 0%, #DCF2FE 51%, #C2E0FA 100%) 0% 0% no-repeat padding-box;
                background-position: right center;
                background-size: cover;
                margin-top: 40px;
                border-radius: 5px;
                @media screen and (max-width: $tb) {
                    margin-top: 0px;
                }
                @media screen and (max-width: $sm) {
                    padding: 25px;
                    height: unset;
                }
                .title{
                    &::before{
                        display: none;
                    }
                    @media screen and (max-width: $sm) {
                        font-size: 20px;
                    }
                }
                label{
                    display: inline-block;
                    color: $primary-color;
                    font-size: 14px;
                    width: 32%;
                    padding-right: 30px;
                    padding-bottom: 20px;
                    @media screen and (max-width: $sm) {
                        width: 100%;
                    }
                    input, select{
                        display: block;
                        background: url('assets/images/down-chevron.png'), transparent;
                        border: none;
                        border-bottom: 1px solid $primary-color;
                        width: 100%;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-repeat: no-repeat;
                        background-position-x: 99%;
                        background-position-y: 2px;
                        background-size: 12px;
                        color: $primary-color;
                        padding: 0 1%;
                    }
                }
                .button{
                    padding: 12px 33px;
                    cursor: not-allowed;
                    @media screen and (max-width: $sm) {
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
        >.right{
            width: 375px;
            background: url('assets/images/info-curso.jpg');
            background-position: right center;
            background-size: cover;
            padding: 30px;
            border-radius: 5px;
            max-height: 460px;
            position: fixed;
            z-index: 1;
            top: 220px;
            @media screen and (max-width: $tb) {
                display: none;
            }
            >p{
                font: normal normal bold 16px/12px Jaldi;
                letter-spacing: 0px;
                color: $white;
                text-transform: uppercase;
                padding-bottom: 10px;
            }
            .endereco{
                padding: 10px 0;
                p{
                    font: normal normal bold 16px/12px Jaldi;
                    letter-spacing: 0px;
                    color: $white;
                    text-transform: uppercase;
                    &:first-of-type{
                        padding-bottom: 10px;
                    }
                }
            }
            >h1{
                font: normal normal bold 30px/35px Jaldi;
                letter-spacing: 0px;
                color: $white;
            }
            >a{
                font: normal normal normal 20px/30px Jaldi;
                letter-spacing: 0px;
                color: $white;
                transition: all .3s;
                &:hover{
                    color: $tertiary-color;
                }
            }
            .button{
                color: $secondary-color;
                font: normal normal bold 25px/33px Jaldi;
                letter-spacing: 0.75px;
                width: 100%;
                display: block;
                padding: 12px;
                &:hover{
                    color: $white;
                }
            }
            .mensal{
                background: #BCE0FD 0% 0% no-repeat padding-box;
                border-radius: 5px;
                padding: 15px;
                margin: 15px 0;
                .left, .right{
                    width: 49%;
                    p{
                        font: normal normal bold 14px/19px Jaldi;
                        letter-spacing: 0px;
                        color: $primary-color;
                    }
                    h2{
                        text-align: left;
                        font: normal normal bold 22px/30px Jaldi;
                        letter-spacing: 0px;
                        color: $black;
                    }
                }
                .left{
                    border-right: 1px solid #97D0F2;
                }
                .right{
                    padding-left: 10px;
                    .desconto{
                        font: normal normal bold 18px/24px Jaldi;
                        letter-spacing: 0px;
                        color: $secondary-color;
                        background: $tertiary-color 0% 0% no-repeat padding-box;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        position: absolute;
                        right: -5px;
                        top: -8px;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
.topo.cursos{
    background-image: url('assets/images/Banner1.png');
}
.regulamentos{
    text-align: left;
    column-count: 4;
    padding: 0px 3%;
    @media screen and (max-width: $dt) {
        column-count: 3;
    }
    @media screen and (max-width: $tb) {
        column-count: 2;
    }
    @media screen and (max-width: $sm) {
        column-count: 1;
    }
    a{
        text-decoration: underline;
        font: normal normal bold 14px/24px Jaldi;
        letter-spacing: 0px;
        color: $primary-color;
        transition: all .3s;
        &:hover{
            color: $tertiary-color;
        }
        img{
            width: auto;
        }
    }
    >h1, h2, h3, h4, h5, h6{
        font: normal normal bold 16px/24px Jaldi;
        letter-spacing: 0px;
        color: $black;
        padding-bottom: 16px;
        border-bottom: 2px solid #E5E5E5;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
