section.al-container.faq{
    padding: 50px 0;
    &.abertura{
        padding-top: 100px;
        padding-bottom: 30px;
        display: block;
        h1{
            display: block;
            margin-right: auto;
            font: normal normal bold 30px/35px Jaldi;
            color: $white;
            position: relative;
            width: 100%;
            &::before{
                content: "";
                width: 135px;
                border-bottom: 1px solid $white;
                position: absolute;
                bottom: -5px;
            }
        }
    }
    &.article{
        .frequentes{
            .pergunta{
                border-bottom: 2px solid #E5E5E5;
                padding: 10px 0;
                h1{
                    font: normal normal bold 22px/30px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    position: relative;
                    padding: 10px 0;
                    padding-right: 20px;
                    &::after{
                        content: '';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        display: inline-block;
                        transition: all .3s;
                    }
                    img{
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
                &.active{
                    h1{
                        &::after{
                            transform: rotate(180deg);
                        }
                    }
                }
                .content{
                    display: none;
                    p{
                        font: normal normal normal 14px/24px Jaldi;
                        letter-spacing: 0px;
                        color: $black;
                        &:not(:last-of-type){
                            padding-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
}

.topo.faq{
    background-image: url('assets/images/Banner4.png');
    background-position: center bottom;
}