/* Footer
========================================================================== */
.button-submit{
    i{
        color: #FFF;
    }
    background-color: #1034a6;
    border: none;
    border-radius: 8px;
    width: 38px;
    height: 36px;
    position: absolute;
    margin-top: -38px;
    right: 0;
}
.tnp-field-button{
    display: none;
}
.tnp-field{
    position: relative;
}
.main-footer{
    .sub-footer{
        height: 35px;
        background-color: #1034a6;
        width: 100%;
    }
    .sup-footer{
        padding: 60px 0;
        background-color: #FEFEFE;
        border-top: hsl(240, 8%, 91%) 2px solid;
        .al-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: top;
            .collum-footer{
                .logo{
                    width: 263px;
                    img{
                        width: 100%;
                    }
                }
                .link{
                    color: #777777;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Open Sans", sans-serif;
                    cursor: pointer;
                }
                .link:hover{
                    color: #333;
                    font-weight: 400;
                }
                .footer-title{
                    text-transform: capitalize;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: "Open Sans", sans-serif;
                }
                .lista{
                    display: block!important;
                    &ul{
                        padding: 15px 0;
                    }
                    &.blue-icons{
                        display: flex!important;
                        flex-wrap: wrap;
                        width: 40px;
                        li{
                            height: 47px;
                            width: 47px;
                            border-radius: 50%; 
                            box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
                            background-color: #FFF;
                            align-items: center;
                            justify-content: center;
                            img{
                                padding: 0;
                                transition: all .3s;
                            }
                            transition: all .3s;
                        }
                        a:hover{
                            li{
                                background-color: #EEE;
                                img{
                                    transform: rotateY(360deg);
                                }
                            }
                        }
                    }
                    .endereco{
                        tr{
                            align-items: flex-start;
                        }
                    }
                    &.endereco{
                        .link{
                            font-weight: 600;   
                        }
                    }
                    tr, li{
                        display: flex;
                        padding: 8px 0;
                        color: #777777;
                        font-size: 16px;
                        font-weight: 600;
                        font-family: "Open Sans", sans-serif;
                        td{
                            width: 32px;
                        }
                        td+td{
                            width: 100%;
                        }
                    }
                    &.atendimento{
                        .link{
                            font-weight: 600;   
                        }
                        tr, li{
                            img{
                                padding-right: 5px;
                            }
                        }   
                    }
                }
                label{
                    display: none;
                }
                input{    
                    height: 40px;
                    width: 303px;
                    border-radius: 8px; 
                    background-color: #F5F5F5;             
                }
                input::placeholder {
                    color: #777;
                    font-family: "Open Sans", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }
                .tnp-submit{
                    background-color: #1034a6;
                }
            }
        }
    }
}
@media screen and(max-width: 1230px) {
    .button-submit{
        background-color: #1034a6;
        border: none;
        border-radius: 8px;
        width: 50px;      
        height: 36px;
        position: absolute;
        margin-top: -38px;
        right: 0;
    }
    .main-footer{
        .sup-footer{
            .al-container{
                align-items: center;
                justify-content: center;
                .collum-footer{
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 10px 5%;
                    input{  
                        width: 100%;  
                    }
                    .blue-icons{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    ul.lista.blue-icons{
        flex-wrap: nowrap!important;
        column-gap: 10px;
    }
}