/* Header
========================================================================== */
.selected-language{
    background-color: #053B5A;
}
.glink{
    padding: 0 16px;
    cursor: pointer;
    @media screen and (max-width: 1200px) {
        padding: 0px;
    }
}
.mob-menu-header-holder{
    &.mobmenu{
        box-shadow: 0 4px 4px 0 rgb(0,0,0, 0.25);
    }
}
.sup-menu{
    z-index: 9;
    position: fixed;
    order: 1;
    height: 34px;
    background-color: #1034a6;
    width: 100%;
    .al-container{
        height: 34px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .contact-icons{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            div{
                padding: 4px 10px;
                transition: all .3s;
                .icon+.icon{
                    padding-left: 20px;
                }
                img{
                    max-height: 22px;
                }
                &:hover{
                    background-color: #053B5A;
                }
            }
        }
        .pais{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .icon{
                padding: 2px 10px;
                transition: all .3s;
                &:hover{
                    background-color: #053B5A;
                }
            }
        }
    }
}
.mobmenur-container{
    .pais{
        display: flex;
        flex-wrap: wrap;
        width: 45px;
        overflow: hidden;
        background-color: #053B5A;
        .icon{
            margin-top: 15px;
            padding: 2px 10px;
            transition: all .3s;
            background-color: #053B5A;
        }
    }
}
.main-header{
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
    height: 90px;
    margin-top: 34px;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 999999;
    .logo{
        width: 250px;
    }
    .al-container{
        height: 125px;
        .sub-menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            background-color: #FEFEFE;
            .main-menu{
                >ul{
                    height: 90px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 30px;
                    li{
                        border-bottom: 4px solid transparent;
                        height: 90px;
                        display: flex;
                        align-items: center;
                        padding: 0px 10px;
                        transition: all .3 ;
                        a{
                            text-transform: capitalize;
                            color: #203E4F;
                            font-size: 18px;
                            font-weight: 600;
                            font-family: "Open Sans", sans-serif;
                        }
                    }
                }
            }
        }
    }
}
body{
    background-color: #FEFEFE;
}
.mobile-menu{
    display: none;
    @media screen and(max-width: 1100px) {
        display: flex;
    }
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 999999;
    box-shadow: 0px 6px 10px 0px #00000040;
    .mob-icon{
        font-size: 30px;
        color: #053B5A;
    }
    .logo{
        img{
            height: 40px;
        }
    }
    .glink{
        border-radius: 50%;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pais{
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }
}
.mob-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -150vw;
    z-index: 99999999999999999;
    transition: all .5s;
    .sombra{
        background-color: #000;
        opacity: 0.4;
        width: 0;
        height: 100vh;
        transition: all .3s;
    }
    >.menu{
        position: absolute;
        top: 0;
        left: 0px;
        background: #053B5A;
        padding: 20px;
        height: 100vh;
        width: 375px;
        transition: all .3s;
        .close{
            position: absolute;
            left: 330px;
            i{
                font-size: 30px;
                color: #FFF;
            }
        }
        ul{
            padding-top: 30px;
            li{
                &.current_page_item{
                    a{
                        color: #878787;
                        text-decoration: underline;
                    }
                }
                a{
                    color: #FFF;
                    font-family: "Open Sans", sans-serif;
                    font-size: 24px;
                    font-weight: 500;
                    text-transform: capitalize;
                    text-align: center;
                }
            }
            li+li{
                padding-top: 20px;
            }
        }
    }
}
@media screen and(max-width: 1100px) {
    #wrapper{
        padding-top: 85px!important;
    }
    .main-header{
        display: none;
    }
    .sup-menu{
        display: none;
    }
}