/* Home
========================================================================== */
.slide-row{
    max-height: 550px;
    max-width: 100%;
    .tp-rs-img{
        width: 100%;
    }
    .slider-home{
        max-height: 550px;
        display: block;
        width: 100%;
    }
}
.row-linsul{
    padding: 80px 0;
    width: 100%;
    &:not(.new){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .left-image{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .right-text{
        width: 40%;
        padding: 0 30px;
        font-family: "Open Sans", sans-serif;
        color: #696968;
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
        h2{
            color: #203E4F;
            font-size: 42px;
            font-weight: 900;
            padding: 5px;
            text-transform: uppercase;
        }
        p{
            color: #696968;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .all-top{
        width: 100%;
        .contain{
            max-width: 1230px;
            margin: auto;
            font-family: "Open Sans", sans-serif;
            color: #696968;
            font-size: 18px;
            font-weight: 400;
            text-align: justify;
            @media screen and (max-width: 1230px) {
                padding: 20px;
            }
            h2{
                color: #696968;
                font-size: 42px;
                font-weight: 900;
                padding: 5px;
                text-transform: uppercase;
            }
            p{
                color: #696968;
                font-size: 18px;
                font-weight: 400;
            }
            .title{
                color: #1034a6;
                font-size: 54px;
                font-weight: 900;
                padding: 5px;
                text-transform: uppercase;
            }
            .button-pai{
                padding: 40px 0;
                .button{
                    padding: 5px 20px;
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    background-color: #000;
                    border-radius: 20px;
                    border: 1px solid #000;
                    transition: all .3s;
                    &:hover{
                        color: #000;
                        background-color: #FFF;
                    }
                }
            }
        }
    }
    .all-bottom{
        width: 100%;
        position: relative;
        padding: 40px;
        min-height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .contain{
            max-width: 1230px;
            margin: auto;
            .title{
                font-family: "Open Sans", sans-serif;
                color: #FFF;
                font-size: 54px;
                font-weight: 900;
                padding: 5px;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                text-shadow: 4px 4px 0px #00000096;
            }
            .blocos{
                padding: 40px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap: 60px;
                column-gap: 20px;
                .bloco{
                    width: 23%;
                    min-width: 180px;
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 10px;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 70px;
                        height: 70px;
                        object-fit: contain;
                    }
                    a{
                        width: 100%;
                        font-family: "Open Sans", sans-serif;
                        color: #FFF;
                        font-size: 24px;
                        font-weight: 700;
                        text-align: center;
                        text-shadow: 4px 4px 0px #00000096;
                    }
                }
            }
        }
    }
}
.row-cards{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .card{
        width: 400px;
        padding: 0 20px;
        .top{
            display: flex;
            align-items: center;
            justify-content: center;
            .title{
                padding: 0px 20px;
                font-family: "Open Sans", sans-serif;
                color: #203E4F;
                font-size: 22px;
                font-weight: 1000;
                text-transform: uppercase;
            }
        }
        .bottom{
            padding: 10px 0;
            .text{
                font-family: "Open Sans", sans-serif;
                color: #696968;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

.row-produtos, .row-produtos-mobile{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    .content{
        .produto-title{
            font-family: "Open Sans", sans-serif;
            color: #FFF;
            font-size: 42px;
            font-weight: 1000;
            text-transform: uppercase;
            text-align: center;
            padding: 8px;
        }
        padding: 40px;
        .produtos{
            .al-container{
                padding-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            li{
                padding: 0;
            }
            .produto{
                min-height: 329px;;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: auto;
                cursor: pointer;
                width: 280px;
                background-color: #FFF;
                border-radius: 10px;
                box-shadow: 0px 0px 4px #0009;
                padding-top: 10px;
                margin: 8px;
                transition: all .3s;
                section{
                    padding: 7% 0px;
                }
                .bottom-datail{
                    background-color: #003658;
                    width: 100%;
                    height: 15px;
                    border-radius: 0px 0px 8px 8px;
                }
                .img-produto{
                    justify-content: center;
                    display: flex;
                    max-height: 180px;
                    height: 180px;
                    img{
                        height: 100%;
                        max-height: 180px;
                    }
                }
                .texto-produto{
                    align-items: center;
                    padding: 15px 0;
                    h3{
                        padding: 5px 18px;
                        text-align: left;
                        font-family: "Open Sans", sans-serif;
                        color: #203E4F;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }
            .produto:hover{
                box-shadow: 0px 0px 12px #000;
            }
        }
    }
}
.row-produtos-mobile{
    .content{
        .produtos{
            li{
                display: flex;
                justify-content: center;
            }
        }
    }
}
.row-clientes{
    padding: 160px 10px;
    .title{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 42px;
        font-weight: 1000;
        text-transform: uppercase;
    }
    .clientes, .clientes-mobile{
        #clientes, #clientes-mobile{
            align-items: center;
            display: flex;
            height: auto!important;
        }
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .cliente{    
            width: 180px;
            margin: auto;
        }
    }
}
.row-download{
    padding-bottom: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    min-height: 492px;
    justify-content: end;
    background-size: 0;
    .right{
        font-family: "Open Sans", sans-serif;
        color: #FFF;
        text-transform: uppercase;
        width: 70%;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;  
        justify-content: center;
        background-size: cover;
        display: flex;  
        .half-container{  
            width: 32%;
            padding: 10px 0;
            margin-left: 5%;
            p{
                font-size: 18px;
                font-weight: 400;
                padding: 5px 0;
                text-transform: none;
                width: unset!important;
                margin-left: unset!important;
                margin-right: unset!important;
            }
            h3{
                font-weight: 1000;
                font-size: 32px;
                padding: 5px 0;
            }
            .fieldnome{
                margin: 10px 0;
            }
            .fieldemail{
                margin: 5px 0;
            }
            .wpcf7-not-valid-tip{
                color: #FFF;
                font-size: 20px;
                font-weight: 500;
                font-family: "Open Sans", sans-serif;
            }
            .fieldnome, .fieldemail, .fieldsubmit{
                padding: 8px;
                width: 100%;
                border-radius: 8px;
                border: none;
                position: relative;
                z-index: 1;
                color: #777777;
                font-size: 16px;
                font-weight: 300;
                font-family: "Open Sans", sans-serif;
            }
            input::placeholder {
                color: #D6D6D6;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
            .fieldsubmit{
                background-color: #3FD14E;
                font-family: "Open Sans", sans-serif;
                color: #FFF;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                margin: 10px 0;
                border-radius: 50px;
                width: 50%;
            }
        }
    }
    .left{
        width: 601px;
        height: 492px; 
        margin-left: -59%;
        img{
            left: 55%;
            z-index: 999;
            height: 105%;
        }
    }
}
.row-produtos-mobile{
    display: none;
}
.row-clientes{
    .clientes-mobile{
        display: none;
    }
}
@media screen and (max-width: 1600px){
    .row-download{
        .right{
            .half-container{ 
                width: 40%;
            }
        }
    }
}
@media screen and (max-width: 1230px){
    .row-produtos{
        display: none;
    }
    .row-produtos-mobile{
        display: block;
    }
    .row-clientes{
        .clientes{
            display: none;
        }
        .clientes-mobile{
            display: block;
        }
    }
    .row-cards{
        flex-wrap: wrap;
        .card{
            width: 70%;
            padding-top: 10px;
            margin: 0 15%;
        }
    }
    .row-download{
        background-size: auto;
        justify-content: center;
        background-size: auto;
        background-position: center;
        padding: 0;
        flex-wrap: wrap;
        .right{
            background-image: none!important;
            padding: 0;
            width: 90%;
            max-width: 90%;
            margin-left: 0;
            flex-wrap: wrap;
            .half-container{
                width: 100%;
                padding: 10px 0;
                margin-left: 0%;
            }
        }
        .left{    
            width: 350px;
            order: 2;
            height: auto;
            padding: 0;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            left: 0%;
            transform: translateX(0%);
            img{
                width: 100%;
            }
        }
    }
}