/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/

/* Global variables
========================================================================== */
// Sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

// Colors
$primary-color: #000;
$secondary-color: #fff;
$tertiary-color: #ccc;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);

$white: #fff;
$black: #000;

$danger: #dc3545;
$success: #28a745;

// $poppins-light: 'poppins-light';

/* Mixins
========================================================================== */
@import 'mixins';

/* Fonts
========================================================================== */
@import 'fonts';

/* Resets
========================================================================== */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	&:not(.fas, .fab, .fa) {
		font-size: 1rem;
	}
}

a {
	transition: all linear 0.2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input,
button {
	outline: none;
}

section {
	position: relative;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
.g-recaptcha{
	background-color: #FFF!important;
}
/* Global classes
========================================================================== */
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.whatsapp-link{
    z-index: 9999999;
    position: fixed;
    width: 48px;
    height: 49px;
    bottom: 35px;
    right: 40px;
	img{
		z-index: 1;
		width: 48px;
		height: 49px;
		float: right;
	}
}
#wrapper{
    padding-top: 125px;
}
.hr{
    width: 80%;
    margin-left: 10%;
    hr{
        background-color: #C4C4C4;
    }
}
@media screen and(max-width: 1230px) {
    .hr{
        width: 90%;
        margin-left: 5%;
    }
	.whatsapp-link{
		z-index: 9999999;
		position: fixed;
		bottom: 20px;
		right: 10px;	
		width: 45px;
		height: 46px;
		img{
			z-index: 99;
			width: 45px;
			height: 46px;
			float: right;
		}
	}
	#wrapper{
		padding-top: 0!important;
	}
}
.al-container {
	width: 1190px;
}
.fa-2x{
    font-size: 3em;
    width: 6%;
    margin-left: auto;
}
.wpcf7-response-output{
	display: none;
}
.al-small-container {
	width: 1042px;
}

.al-extra-small-container {
	position: relative;
	width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
	max-width: 100%;
	margin: 0 auto;
}

div.left-right-content {
	display: table;
	width: 100%;
	div.left,
	div.right {
		display: table-cell;
		vertical-align: middle;
		@include smartphone {
			display: table-row;
		}
	}
}

.left,
.right {
	display: inline-block;
	width: 49.5%;
	position: relative;
	vertical-align: top;
	@include smartphone {
		width: 100%;
		padding: 20px;
	}
}
/* Html / Body
========================================================================== */
html {
	height: 100%;
	overflow: auto;
}

body {
	background: #fff;
	height: 100%;
	line-height: 1.6;
	font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: darken($white, 10);
}

body::-webkit-scrollbar-thumb {
	background: $primary-color;
	&:hover {
		background: $darken-primary-color;
	}
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
	z-index: 99 !important;
}

.mobmenul-container {
	top: 0 !important;
	right: 2% !important;
	z-index: 0 !important;
	background: $primary-color;
	padding: 10px 10px 0px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mob-icon-menu,
.mob-menu-icon {
	color: #fff !important;
}

[class^='mob-icon-']:before,
[class*='mob-icon-']:before {
	font-size: 28px !important;
	width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container {
	.ajax-loader {
		display: none !important;
	}
	span[role='alert'] {
		display: none !important;
	}
	.wpcf7-not-valid {
		border: 1px solid $danger !important;
		@include placeholder {
			color: $danger !important;
		}
	}
	div[role='alert'] {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		text-align: center;
		background: #f1f1f1;
		width: 100%;
		max-width: 502px;
		margin: 20px 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		&.wpcf7-validation-errors {
			border-color: $danger;
			color: $danger;
		}
		&.wpcf7-mail-sent-ok {
			border-color: $success;
			color: $success;
		}
		@include smartphone {
			position: initial;
			max-width: 100%;
		}
	}
}
.container{
	max-width: 1230px;
	margin: auto;
	padding: 40px;
	.entry-title{
		font-family: "Open Sans", sans-serif;
		color: #1034a6;
		font-size: 40px;
		font-weight: 900;
	}
	.entry-content{
		font-family: "Open Sans", sans-serif;
		color: #696968;
		font-size: 18px;
		font-weight: 400;
		text-align: justify;
		p{
			color: #696968;
			font-size: 18px;
			font-weight: 400;
		}
	}
}
/* Pages
========================================================================== */
@import 'header';
@import 'footer';
@import '404';
@import 'home';
@import 'clientes';
@import 'produtos';
@import 'aplicacoes';
@import 'servicos';
@import 'newsletter';
@import 'trabalhe-conosco';
@import 'contato';
@import 'noticias';
@import 'single-noticia';
@import 'single-produtos';
@import 'single-aplicacoes';
@import 'politica-de-privacidade';