// section.infra{
//     p{
//         &:last-of-type{
//             border-bottom: none !important;
//         }
//     }
//     .infra-post{
//         column-count: 3;
//         column-gap: 30px;
//         flex-direction: row;
//         display: flex;
//         flex-wrap: wrap;
//         row-gap: 15px;
//         @media screen and (max-width: $tb) {
//             column-count: 2;
//             row-gap: 30px;
//         }
//         @media screen and (max-width: $sm) {
//             column-count: 1;
//             column-gap: 0px;
//             row-gap: 40px;
//         }
//         padding: 30px 20px;
//         >article{
//             display: inline-block;
//             width: calc(33% - 20px);
//             position: relative;
//             @media screen and (max-width: $tb) {
//                 width: calc(50% - 15px);
//             }
//             @media screen and (max-width: $sm) {
//                 width: 100%;
//             }
//             >a{
//                 display: flex;
//                 height: 210px;
//                 img{
//                     margin: auto;
//                     display: inline-block;
//                     width: 100% !important;
//                     height: 100%;
//                     object-fit: cover !important;
//                 }
//             }
//             .blue-wrap{
//                 position: absolute;
//                 left: 0;
//                 bottom: 0px;
//                 width: 100%;
//                 height: 40px;
//                 >h1{
//                     position: absolute;
//                     left: 0;
//                     top: 50%;
//                     transform: translateY(-50%);
//                     text-align: left;
//                     font: normal normal normal 12px/14px Jaldi;
//                     letter-spacing: 0px;
//                     color: $tertiary-color;
//                     width: 100%;
//                     z-index: 2;
//                     padding: 0 15px;
//                 }
//                 .blue{
//                     background: rgb(0 39 132 / 70%) 0% 0% no-repeat padding-box;
//                     mix-blend-mode: multiply;
//                     position: absolute;
//                     left: 0;
//                     bottom: 0;
//                     width: 100%;
//                     height: 100%;
//                     z-index: 1;
//                 }
//             }
            
//         }
//         .pagination{
//             width: 100%;
//             text-align: right;
//             padding-right: 10px;
//             font: normal normal normal 14px/24px Jaldi !important;
//             a{
//                 text-decoration: none !important;
//             }
//             @media screen and (max-width: $tb) {
//                 width: 100%;
//                 text-align: center;
//                 .page-numbers{
//                     text-align: center;
//                     font: normal normal bold 12px/16px Jaldi;
//                     letter-spacing: 0.36px;
//                     color: $white !important;
//                     text-transform: uppercase;
//                     background: #BCE0FD 0% 0% no-repeat padding-box;
//                     border-radius: 5px;
//                     padding: 3px 5px;
//                     transition: all .3s;
//                     &.current, &.next, &.prev, &:hover{
//                         background-color: $primary-color;
//                     }
//                     &.next, &.prev{
//                         &:hover{
//                             background-color: $tertiary-color !important;
//                             color: $primary-color !important;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .share{
//         padding-top: 16px;
//         border-top: 2px solid #E5E5E5;
//         margin-top: 10px;
//     }
// }