section.al-container.inscreva{
    display: flex;
    height: 100%;
    .form{
        margin: auto;
        background: $white 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 10px;
        padding: 40px 35px;
        width: 340px;
        max-width: 100%;
        .button{
            background: #0098DB;
            &:hover{
                background: $tertiary-color;
            }
        }
        h1{
            text-align: left;
            font: normal normal bold 30px/35px Jaldi;
            letter-spacing: 0px;
            color: $primary-color;
            opacity: 1;
            padding-bottom: 25px;
        }
        form{
            label{
                text-align: left;
                font: normal normal normal 14px/19px Jaldi;
                letter-spacing: 0px;
                color: $primary-color;
                opacity: 1;
                input{
                    display: block;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid $primary-color;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            .acessar{
                display: flex;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 70px;
                button{
                    box-shadow: 0px 10px 15px #00000029;
                    border-radius: 4px;
                    opacity: 1;
                    margin: auto;
                    padding: 12px 40px;
                }
            }
        }
        a{
            text-align: left;
            text-decoration: underline;
            font: normal normal bold 14px/19px Jaldi;
            letter-spacing: 0px;
            color: $primary-color;
            opacity: 1;
            margin-right: 5px;
            img{
                width: 13px;
                height: 13px;
                margin-right: 5px;
                vertical-align: baseline;
            }
        }
    }
    &.restrito{
        h2{
            font: normal normal bold 16px/12px Jaldi;
            letter-spacing: 0px;
            color: #0079B9;
            text-transform: uppercase;
            opacity: 1;
            padding-bottom: 5px;
        }
        h1{
            text-align: left;
            font: normal normal bold 30px/35px Jaldi;
            letter-spacing: 0px;
            color: #29519A;
            opacity: 1;
        }
    }
}

.fundo{
    height: 700px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    mix-blend-mode: luminosity;
    opacity: 1;
    background: url("assets/images/fundo1.png"), $tertiary-color 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    &.restrito{
        background: url("assets/images/fundo2.png"), #110F2A 0% 0% no-repeat padding-box;
        background-position: center;
        background-size: cover;
    }
}