.row-newsletter{
    .tnp-field{
        label{
            display: none!important;
        }
        input{    
            height: 40px;
            width: 303px;
            border-radius: 8px; 
            background-color: #F5F5F5;             
        }
        input::placeholder {
            color: #777;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
        .tnp-submit{
            background-color: #1034a6;
        }
        .button-submit{
            i{
                color: #FFF;
            }
            background-color: #1034a6;
            border: none;
            border-radius: 8px;
            width: 50px;
            height: 44px;
            position: absolute;
            margin-top: -47px;
            right: 0;
        }
    }
}
@media screen and(max-width:1230px) {
    .row-newsletter{
        width: 100%;
        padding: 5%;
    }
}