.row-noticia{
    padding: 80px 0;
    .centered-button{
        width: 100%;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        .ler-mais{
            background-color: #1034a6;
            width: 220px;
            height: 34px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-size: 18px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                color: #FFF;
                border: none;
            }
        }
    }
    .title{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 42px;
        font-weight: 1000;
        text-transform: uppercase;
    }
    .subtitle{
        font-size: 24px;
    }
    .contents{
        .row-content{
            border-radius: 8px;
            cursor: pointer;
            padding: 20px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            transition: all .3s;
            .img{    
                display: flex;
                justify-content: end;
                &.content-left{
                    display: flex;
                    justify-content: start;
                }
                img{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
            .texto{
                .publicado{
                    padding: 5px 0!important;
                    font-size: 16px;
                    color: #696968;
                    padding: 0 30px;
                    line-height: 1.5em;
                }
                width: 72%;
                font-size: 18px;
                color: #696968;
                padding: 0 30px;
                text-align: right;
                line-height: 1.5em;
                &.content-right{
                    text-align: left;
                }
                a{
                    font-size: 18px;
                    color: #696968;
                    padding: 0 30px;
                    text-align: right;
                    line-height: 1.5em;
                }
                .legend{
                    p+p, div+div, p+a, a + p, a+a, p + div, div + p{
                        display: none;
                    }
                    >a{
                        >a{
                            display: none;
                        }
                    }
                    p:not(:first-of-type),
                    a:not(:first-of-type){
                        display: none;
                    }
                    *{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical; 
                        *+*{
                            display: none;
                        }
                    }
                }
                .subtitle{
                    font-size: 28px;
                    font-family: "Open Sans", sans-serif;
                    color: #203E4F;
                    font-weight: 1000;
                    text-transform: uppercase;
                }
            }
            &:hover{
                box-shadow: 0px 0px 8px 2px rgb(0,0,0, 0.25);
            }
        }
    }
}

.compartilhe{
	display: flex;
	justify-content: right;
	align-items: center;
	column-gap: 14px;
    padding-bottom: 80px;
    @media screen and (max-width: 1230px) {
        padding-right: 15px;        
    }
	span{
		font-family: "Rubik";
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		color: #ABABAB;
	}
	.links{
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 9px;
		>a{
			cursor: pointer;
			display: inline-flex;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background: #1034a6;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
			transition: all .5s;
			text-align: center;
			justify-content: center;
			align-items: center;
			img{
				transition: all .5s;
				margin: auto;
				object-fit: contain;
			}
			&:hover{
				background: #1034a6;
				img{
					transform: rotateY(360deg);
				}
			}
		}
	}
	.a2a_kit {
		display: flex!important;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		column-gap: 10px;
		transition: all .3s;
		visibility: visible;
		opacity: 1;
		&.hidden{
			visibility: hidden;
			opacity: 0;
		}
		span{
			font-family: "Rubik";
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			letter-spacing: 0em;
			text-align: left;
			color: #ABABAB;
			margin-right: 4px;
		}
		a{
			display: inline-flex;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background: #1034a6;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
			transition: all .5s;
			text-align: center;
			justify-content: center;
			align-items: center;
			img{
				transition: all .5s;
				margin: auto;
				object-fit: contain;
			}
			&:hover{
				background: #1034a6;
				img{
					transform: rotateY(360deg);
				}
			}
			&.addtoany_share{
				order: 1;
			}
			&.rede{
				order: 2;
			}
			&.a2a_button_facebook{
				order: 3;    
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&.a2a_button_whatsapp{    
				display: flex;
				justify-content: center;
				align-items: center;
				order: 4;
			}
		}
	}
}
@media screen and (max-width:1230px) {
    .row-noticia{
        padding: 80px 20px;
        .contents{
            .row-content{
                padding: 40px 0;
                .content-left, .content-right{
                    max-width: 100%;
                    width: 100%;
                }
                .img{
                    order: 1;
                    img{
                        width: 100%;
                    }
                }
                .texto{
                    padding: 20px 0px;
                    order: 2;
                    text-align: left;
                    &.content-right{
                        text-align: left;
                    }
                }
            }
        }
    }
}