section.al-container.bolsas{
    padding: 50px 0;
    &.abertura{
        padding-top: 100px;
        padding-bottom: 30px;
        display: block;
        h1{
            display: block;
            margin-right: auto;
            font: normal normal bold 30px/35px Jaldi;
            color: $white;
            position: relative;
            width: 100%;
            &::before{
                content: "";
                width: 135px;
                border-bottom: 1px solid $white;
                position: absolute;
                bottom: -5px;
            }
        }
        p, >span{
            font: normal normal bold 12px/16px Jaldi;
            letter-spacing: 0.36px;
            color: $white;
            text-transform: uppercase;
            display: block;
            padding-bottom: 15px;
            display: inline-block;
            i{
                vertical-align: middle;
                margin-right: 5px;
            }
            a{
                font: normal normal bold 12px/16px Jaldi;
                letter-spacing: 0.36px;
                color: $white;
                text-transform: uppercase;
                display: block;
                display: inline-block;
            }
        }
    }
    &.article{
        >.left{
            padding-right: 30px;
            width: 79%;
            @media screen and (max-width: $tb) {
                width: 100%;
                display: block;
                padding-right: 0px;
            }
            >p{
                font: normal normal normal 14px/24px Jaldi;
                letter-spacing: 0px;
                color: $black;
                padding-bottom: 30px;
            }  
            >img{
                width: 100%;
                @media screen and (max-width: $tb) {
                    object-fit: contain;
                }
            }
            .topo-resp{
                padding-bottom: 30px;
            }
            >iframe{
                width: 100%;
            }
            >h1{
                font: normal normal bold 16px/24px Jaldi;
                letter-spacing: 0px;
                color: $black;
                padding-bottom: 16px;
                border-bottom: 2px solid #E5E5E5;
                margin-bottom: 20px;
            }
            a{
                text-decoration: underline;
                font: normal normal bold 14px/24px Jaldi;
                letter-spacing: 0px;
                color: $primary-color;
                transition: all .3s;
                &:hover{
                    color: $tertiary-color;
                }
                img{
                    width: auto;
                }
            }
            .first{
                >p{
                    font: normal normal normal 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 30px;
                }  
                >img, >p >img{
                    width: 100%;
                    @media screen and (max-width: $tb) {
                        object-fit: contain;
                    }
                }
                >iframe{
                    width: 100%;
                }
                >h1{
                    font: normal normal bold 16px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 16px;
                    border-bottom: 2px solid #E5E5E5;
                    margin-bottom: 20px;
                }
                a{
                    text-decoration: underline;
                    font: normal normal bold 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    transition: all .3s;
                    &:hover{
                        color: $tertiary-color;
                    }
                    img{
                        width: auto;
                    }
                }
            }
            >.left, >.right{
                padding-bottom: 30px;
                >p{
                    font: normal normal normal 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 30px;
                }  
                >h1{
                    font: normal normal bold 16px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 16px;
                    border-bottom: 2px solid #E5E5E5;
                    margin-bottom: 20px;
                }
                a{
                    text-decoration: underline;
                    font: normal normal bold 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    transition: all .3s;
                    &:hover{
                        color: $tertiary-color;
                    }
                    img{
                        width: auto;
                    }
                }
            }
            >.right{
                text-align: right;
            }
            .mudou{
                >p{
                    font: normal normal normal 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 30px;
                }  
                >img, >p >img{
                    width: 100%;
                    @media screen and (max-width: $tb) {
                        object-fit: contain;
                    }
                }
                >iframe{
                    width: 100%;
                }
                >h1{
                    font: normal normal bold 16px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-bottom: 16px;
                    border-bottom: 2px solid #E5E5E5;
                    margin-bottom: 20px;
                }
                a{
                    text-decoration: underline;
                    font: normal normal bold 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $primary-color;
                    transition: all .3s;
                    &:hover{
                        color: $tertiary-color;
                    }
                    img{
                        width: auto;
                    }
                }
            }
            .share{
                width: 100%;
                font: normal normal normal 14px/24px Jaldi;
                color: $primary-color;
                padding-top: 16px;
                border-top: 2px solid #E5E5E5;
                margin-top: 10px;
                &.hidden{
                    visibility: hidden;
                }
                .left{
                    text-align: left;
                    width: 49.5% !important;
                }
                .right{
                    text-align: right;
                    width: 49.5% !important;
                }
                span{
                    margin-right: 2px;
                }
                a{
                    font: normal normal normal 14px/24px Jaldi;
                    color: $primary-color;
                    margin: 0 2px;
                    transition: all .3s;
                    cursor: pointer;
                    &:hover{
                        color: $tertiary-color;
                    }
                }
                a.a2a_dd.addtoany_share_save.addtoany_share{
                    display: none !important;
                }
                .addtoany_shortcode{
                    display: inline-block;
                }
                button.imprimir{
                    font: normal normal normal 14px/24px Jaldi;
                    color: $primary-color;
                    transition: all .3s;
                    cursor: pointer;
                    &:hover{
                        color: $tertiary-color;
                    }
                    i{
                        vertical-align: middle;
                        margin-right: 2px;
                    }
                }
            }
        }
        >.right{
            padding-left: 30px;
            border-left: 2px solid #E5E5E5;
            width: 20%;
            @media screen and (max-width: $tb) {
                width: 100%;
                display: block;
                padding-left: 0px;
                border-left: none;
                border-bottom: 2px solid #E5E5E5;
            }
            >h1{
                font: normal normal bold 18px/24px Jaldi;
                letter-spacing: 0px;
                color: $primary-color;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            a{
                font: normal normal bold 14px/24px Jaldi;
                letter-spacing: 0px;
                color: #89D1F6;
                padding-bottom: 5px;
                display: block;
                transition: all .3s;
                &:hover{
                    color: $tertiary-color;
                }
            }
        }
        &.page{
            >h1, h2, h3, h4, h5, h6{
                font: normal normal bold 16px/24px Jaldi;
                letter-spacing: 0px;
                color: $black;
                padding-bottom: 16px;
                border-bottom: 2px solid #E5E5E5;
                margin-bottom: 20px;
            }
        }
    }
}
.topo.bolsas{
    background-image: url('assets/images/banner-3.jpg');
}
.topo.institucional{
    background-image: url('assets/images/banner-institucional.jpg');
}

.parent-pageid-147, .page-id-147{
    .topo{
        background-image: url('assets/images/banner-3.jpg');
    }
}