.politica{
	padding: 40px 0;
	h1{
        font-family: "Open Sans", sans-serif;
        color: #203e4f;
        font-size: 42px;
        font-weight: 1000;
        text-transform: uppercase;
	}
	p{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 22px;
        font-weight: 500;
	}
    @media (max-width:1230px){
        padding: 40px 20px;
    }
}