section.al-container.polos{
    padding: 50px 0;
    &.article{
        min-height: 367px;
        .graduacao-polos{
            width: 69%;
            padding: 15px 30px;
            background: url('assets/images/azul-claro.png'), transparent linear-gradient(270deg, #C2E0FA 0%, #DCF2FE 51%, #C2E0FA 100%) 0% 0% no-repeat padding-box;
            background-position: right center;
            background-size: cover;
            box-shadow: 0px 20px 40px rgb(0 0 0 / 15%);
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin: -75px auto 50px auto;
            @media screen and (max-width: $sm) {
                flex-direction: column;
                column-count: 2;
                height: 206px;
                width: 96%;
                flex-wrap: wrap;
                padding: 20px 50px;
            }
            h2{
                font: normal normal normal 18px/17px Jaldi;
                letter-spacing: 0px;
                color: $primary-color;
                display: inline-block;
                width: 12%;
                padding-right: 20px;
                @media screen and (max-width: $sm) {
                    width: 50%;
                    padding-bottom: 10px;
                    padding-right: 0;
                }
            }
            label{
                display: inline-block;
                color: $primary-color;
                font-size: 14px;
                padding-right: 30px;
                height: fit-content;
                margin: auto;
                width: 20%;
                @media screen and (max-width: $sm) {
                    width: 50%;
                    padding-bottom: 20px;
                }
                input, select{
                    display: block;
                    background: url('assets/images/down-chevron.png'), transparent;
                    border: none;
                    border-bottom: 1px solid $primary-color;
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-repeat: no-repeat;
                    background-position-x: 99%;
                    background-position-y: 2px;
                    background-size: 12px;
                    color: $primary-color;
                    padding: 0 1%;
                }
            }
            .button{
                padding: 12px 18px;
                cursor: pointer;
                &::after{
                    display: none;
                }
                @media screen and (max-width: $sm) {
                    margin: 0 auto;
                    display: block;
                    width: 50%;
                }
            }
        }
        .polo-container{
            padding-bottom: 20px;
            .polo{
                padding-bottom: 25px;
                border-bottom: 2px solid #E5E5E5;
                .left{
                    width: 70%;
                    @media screen and (max-width: $sm) {
                        width: 100%;
                    }
                    h1{
                        font: normal normal bold 22px/30px Jaldi;
                        letter-spacing: 0px;
                        color: $primary-color;
                        padding-bottom: 5px;
                    }
                    p{
                        font: normal normal normal 14px/24px Jaldi;
                        letter-spacing: 0px;
                        color: $black;
                    }
                }
                .right{
                    text-align: right;
                    width: 29%;
                    @media screen and (max-width: $sm) {
                        width: 100%;
                    }
                    a{
                        display: block;
                        img{
                            width: 100%;
                            height: auto;
                            max-height: 155px;
                            border-radius: 10px;
                            border: 2px solid #E5E5E5;
                        }
                    }
                }
            }
        }
    }
}