.all-produtos{
    padding: 80px 0;
    .title{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 42px;
        font-weight: 1000;
        text-transform: uppercase;
        padding: 8px;
    }
    .content{
        .produto-title{
            font-family: "Open Sans", sans-serif;
            color: #FFF;
            font-size: 42px;
            font-weight: 1000;
            text-transform: uppercase;
            text-align: center;
        }
        padding: 0;
        .produtos{
            .al-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
            }
            .produto{
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: auto;
                cursor: pointer;
                width: 280px;
                background-color: #FFF;
                box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.25);            
                border-radius: 10px;
                padding-top: 10px;
                margin: 8px;
                transition: all .3s;
                section{
                    padding: 7% 0px;
                }
                .img-produto{
                    display: flex;
                    justify-content: center; 
                    img{
                        height: 100%;
                        max-height: 180px;
                    }
                }
                .texto-produto{
                    font-family: "Open Sans", sans-serif;
                    color: #203E4F;
                    font-size: 22px;
                    font-weight: 700;
                    align-items: center;
                    display: flex;
                    padding: 0 0 20px 0;
                    h3{
                        text-align: left;
                        padding: 5px 18px;
                        text-align: left;
                        font-family: "Open Sans", sans-serif;
                        color: #203E4F;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }
            .produto:hover{
                box-shadow: 0px 0px 8px #0009;
            }
        }
    }
}
@media screen and(max-width: 1230px) {
    .all-produtos{
        .title{
            text-align: center;
        }
        .content{
            .produtos{
                .al-container{
                    justify-content: center;
                }
            }
        }
    }
}