.al-container-quem-somos.quem-somos.content {
	padding-top: 80px;
	.title {
		font-family: 'Open Sans', sans-serif;
		color: #203e4f;
		font-style: normal;
		font-weight: 1000;
		font-size: 42px;
		line-height: 57px;
		text-transform: uppercase;
		padding-bottom: 26px;
	}
	.the-content {
		overflow: hidden;
		p {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: #696968;
			&:not(:last-of-type) {
				padding-bottom: 25px;
			}
		}
		img{
			float: right;
			margin-left: 53px;
			margin-bottom: 25px;
			@media (max-width: $sm) {
				margin-left: auto;
				margin-right: auto;
				float: none;
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}
