section.resp{
    .resp-post{
        @media screen and (max-width: $sm) {
            padding: 0 20px;
        }
        >article{
            margin-bottom: 15px;
            width: 100%;
            background: $secondary-color;
            border-radius: 10px;
            border-radius: 10px;
            overflow: hidden;
            .left{
                width: 39%;
                padding-bottom: 0 !important;
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                >a{
                    display: flex;
                    img{
                        height: 100%;
                        max-height: 220px;
                        width: 100% !important;
                        @media screen and (max-width: $tb) {
                            max-height: 225px;
                            height: 225px;
                        }
                    }
                }
            }
            .right{
                width: 60%;
                padding: 15px;
                display: inline-table;
                height: 200px;
                padding-bottom: 20px !important;
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                h1{
                    text-align: left;
                    font: normal normal bold 16px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $white;
                    border-bottom: 2px solid $tertiary-color;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                }
                .content{
                    padding: 5px 0px 15px 0px;
                    p{
                        text-align: left;
                        font: normal normal normal 14px/24px Jaldi;
                        letter-spacing: 0px;
                        color: $white;
                    }
                }
                .leia-mais{
                    display: table-footer-group;
                    text-align: right;
                    .button{
                        color: $secondary-color;
                        background: $tertiary-color;
                        text-decoration: none;
                        &:hover{
                            color: $tertiary-color !important;
                            background: $white !important;
                        }
                        &::after{
                            display: none !important;
                        }
                    }
                }
            }
        }
        .pagination{
            width: 100%;
            text-align: right;
            padding-right: 10px;
            font: normal normal normal 14px/24px Jaldi !important;
            a{
                text-decoration: none !important;
            }
            @media screen and (max-width: $tb) {
                width: 100%;
                text-align: center;
                .page-numbers{
                    text-align: center;
                    font: normal normal bold 12px/16px Jaldi;
                    letter-spacing: 0.36px;
                    color: $white !important;
                    text-transform: uppercase;
                    background: #BCE0FD 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    padding: 3px 5px;
                    transition: all .3s;
                    &.current, &.next, &.prev, &:hover{
                        background-color: $primary-color;
                    }
                    &.next, &.prev{
                        &:hover{
                            background-color: $tertiary-color !important;
                            color: $primary-color !important;
                        }
                    }
                }
            }
        }
    }
    .share{
        padding-top: 16px;
        border-top: 2px solid #E5E5E5;
        margin-top: 10px;
    }
}
.galeria-resp{
    li{
        transition: all .2s;
        opacity: 0;
        a{
            display: inline-flex;
            width: 100%;
            img{
                width: 90% !important;
                height: 245px;
                border-radius: 10px;
                @media screen and (max-width: $sm) {
                    margin: auto !important;
                    width: 80% !important;
                }
            }
        }
    }
    .lslide.active{
        opacity: 1;
        img{
            margin-left: auto;
        }
    }
    .lslide.active+li{
        opacity: 1;
        img{
            margin-right: auto;
        }
    }
}
.buttons{
    margin-top: 30px;
    padding-bottom: 30px;
    position: relative;
    h2{
        display: none;
    }
    .button.prev{
        &::after{
            display: none;
        }
        &::before{
            content: "";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px;
        }
    }
    .nav-previous{
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
        text-align: left;
        position: absolute;
        left: 0;
    }
    .nav-next{
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
        text-align: right;
        position: absolute;
        right: 0;
    }
}
.galeria-resp+.lSAction{
    a{
        font-size: 24px !important;
        color: $secondary-color !important;
        opacity: 1 !important;
        &:hover{
            color: $tertiary-color !important;
        }
    }
    .lSNext{
        right: 0;
        text-align: right;
    }
    .lSPrev{
        left: 0;
        text-align: left;
    }
}