.row-servico{
    padding: 80px 0;
    .title, .subtitle{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 42px;
        font-weight: 1000;
        text-transform: uppercase;
    }
    .contents{
        .row-content{
            padding: 48px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            .img{
                width: 40%;
                display: flex;
                justify-content: end;
                &.content-left{
                    display: flex;
                    justify-content: start;
                }
                img{
                    width: 88%;
                }
            }
            .texto{
                width: 59%;
                font-size: 18px;
                color: #696968;
                line-height: 1.7em;
                &.content-right{
                    text-align: right;
                }
                .legend{
                    padding: 20px 0;
                    p+p{
                        margin-bottom: 20px;
                        line-height: 1.6em;
                    }
                }
                .subtitle{
                    font-size: 28px;
                }
            }
        }
    }
}
@media screen and (max-width:1230px) {
    .row-servico{
        padding: 80px 20px;
        .contents{
            .row-content{
                .content-left, .content-right{
                    max-width: 100%;
                    width: 100%;
                }
                .img{
                    order: 2;
                    img{
                        width: 100%;
                    }
                }
                .texto{
                    order: 1;
                    text-align: left;
                    &.content-right{
                        text-align: left;
                    }
                }
            }
        }
    }
}