.content-aplicacoes{
    padding: 40px 0;
    .al-container{
        .title{
            font-family: "Open Sans", sans-serif;
            color: #203E4F;
            font-size: 42px;
            font-weight: 1000;
            text-transform: uppercase;
        }
    }
    .aplicacao-div{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .lista{
            padding: 0 20px;
            width: 35%;
            .aplicacoes{
                li{
                    padding: 5px 0;
                    list-style-type: disc;
                    list-style-position: inside;
                    color: #696968;
                    text-transform: capitalize;
                    line-height: 1.6em;
                    a{
                        font-family: "Open Sans", sans-serif;
                        color: #696968;
                        font-weight: 700;
                        font-size: 22px;    
                        text-transform: capitalize;
                    }
                    &.active{
                        color: #1034a6;
                        a{
                            color: #1034a6;
                        }
                    }
                }
            }
        }
        .aplicacao{
            padding: 0 40px;
            width: 65%;
            border-left: 2px #C4C4C4 solid;
            .subtitle{
                font-family: "Open Sans", sans-serif;
                color: #203E4F;
                font-size: 38px;
                font-weight: 1000;
                text-transform: uppercase;
            }
            .aplicacao-galeria{
                width: 100%;
                position: relative;
                padding: 0 20px;
                .slide-show{
                    ul{
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 80%;
                                object-fit: scale-down;
                            }
                        }
                    }
                }
            }
            .topicos{
                .subtitle{
                    padding: 20px 0;
                    font-family: "Open Sans", sans-serif;
                    color: #203E4F;
                    font-size: 24px;
                    font-weight: 1000;
                    text-transform: uppercase;
                }
                .text{
                    padding: 20px 0;
                    font-family: "Open Sans", sans-serif;
                    color: #696968;
                    font-weight: 400;
                    font-size: 18px;
                    p{
                        line-height: 1.6em;
                        margin-bottom: 20px;
                    }
                }
                .lista{
                    width: 100%;
                    ul{
                        li{
                            list-style-type: disc;
                            list-style-position: inside;
                            font-family: "Open Sans", sans-serif;
                            color: #696968;
                            font-weight: 400;
                            padding: 2px 0;
                            font-size: 18px;
                            line-height: 1.6em;
                        }
                    }
                }
            }
            .videos, .videos-mobile{
                padding: 20px 0;
                position: relative;
                .subtitle{
                    padding: 20px 0;
                    font-family: "Open Sans", sans-serif;
                    color: #203E4F;
                    font-size: 24px;
                    font-weight: 1000;
                    text-transform: uppercase;
                }
                .limitador{
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    .ul-videos-aplicacao, .ul-videos-aplicacao-mobile{
                        li{
                            width: 50%;
                            padding: 0 20px;
                            iframe{
                                width: 100%;
                                border-radius: 8px;
                                max-height: 208px;
                            }
                        }
                    }
                    .ul-videos-aplicacao-mobile{
                        li{
                            width: 100%;
                        }
                    }
                }
                .prevVideosAplicacao, .nextVideosAplicacao{
                    position: absolute;
                    top: 70%;
                    transform: translateY(-70%);
                    padding: 0 15px;
                    width: 41px;
                    height: 71px;
                    cursor: pointer;
                    img{
                        max-width: unset;
                    }
                }
                .prevVideosAplicacao{
                    margin-left: -3.5%;
                }
                .nextVideosAplicacao{
                    margin-left: 93.5%;
                } 
            }
            .videos-mobile{
                .limitador{
                    width: 70%;
                }
            }
        }
    }
}
.videos-mobile{
    display: none;
}
.videos{
    display: block;
}
.lista-mobile{
    display: none;    
    margin-top: 20px;
    width: 100%;
    select{
        width: 100%;
        background-color: #F5F5F5;
        border: none;
        height: 40px;
        border-radius: 8px;
        padding: 0px 20px;
        font-family: "Open Sans", sans-serif;
        color: #777777;
        font-size: 16px;
        outline: none;
        font-weight: 400;
    }
}
@media screen and(max-width: 1230px) {
    .videos-mobile{
        display: block;
    }
    .lista-mobile{
        display: block;
    }
    .videos{
        display: none;
    }
    .content-aplicacoes{
        padding: 40px 20px;
        .aplicacao-div{
            padding: 0px;
            .videos-mobile{
                .limitador{
                    .ul-videos-aplicacao-mobile{
                        li{
                            iframe{
                                max-height: unset;
                            }
                        }
                    }
                }
            }
            .lista{
                padding: 20px 0px;
                width: 100%;
            }
            .aplicacao{
                border: none;
                padding: 20px 0px;
                width: 100%;
                .aplicacao-galeria{
                    .lSAction{
                        .lSPrev{
                            left: 0px;
                        }
                        .lSNext{
                            right: 0px;
                        }
                    }
                }
            }
        }
    }
}