section.al-container.single{
    padding: 30px 0;
    &.blog{
        padding-top: 65px;
        border-bottom: 2px solid #E5E5E5;
        @media screen and (max-width: $tb) {
            padding-top: 20px;
            border: none;
            padding-bottom: 0px;
        }
        article.post{
            @media screen and (max-width: $tb) {
                border-bottom: 2px solid #E5E5E5;
            }
            .left{
                width: 45%;
                @media screen and (max-width: $tb) {
                    display: none;
                }
                .img-container{
                    padding-right: 35px;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        border-radius: 10px;
                    }
                }
            }
            .right{
                width: 54%;
                @media screen and (max-width: $tb) {
                    width: 100%;
                }
                .img-container{
                    display: none;
                    padding: 35px 0;
                    @media screen and (max-width: $tb) {
                        display: block;
                    }
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        border-radius: 10px;
                    }
                }
                >.button{
                    margin-bottom: 25px;
                    i{
                        margin-right: 12px;
                    }
                    &::after{
                        display: none;
                    }
                }
                h1{
                    text-align: left;
                    font: normal normal bold 22px/30px Jaldi;
                    color: $black;
                    padding-bottom: 3px;
                }
                span.data{
                    font: normal normal normal 14px/24px Jaldi;
                    color: $primary-color;
                    i{
                        vertical-align: middle;
                        margin-right: 2px;
                    }
                    button.imprimir{
                        font: normal normal normal 14px/24px Jaldi;
                        color: $primary-color;
                        margin-left: 10px;
                        transition: all .3s;
                        cursor: pointer;
                        &:hover{
                            color: $tertiary-color;
                        }
                        i{
                            vertical-align: middle;
                            margin-right: 2px;
                        }
                    }
                }
                .content{
                    font: normal normal normal 14px/24px Jaldi;
                    letter-spacing: 0px;
                    color: $black;
                    padding-top: 30px;
                    p:not(:last-of-type){
                        padding-bottom: 25px;
                    }
                }
                .share{
                    width: 100%;
                    text-align: right;
                    font: normal normal normal 14px/24px Jaldi;
                    color: $primary-color;
                    &.hidden{
                        visibility: hidden;
                    }
                    span{
                        margin-right: 2px;
                    }
                    a{
                        font: normal normal normal 14px/24px Jaldi;
                        color: $primary-color;
                        margin: 0 2px;
                        transition: all .3s;
                        cursor: pointer;
                        &:hover{
                            color: $tertiary-color;
                        }
                    }
                    a.a2a_dd.addtoany_share_save.addtoany_share{
                        display: none !important;
                    }
                    .addtoany_shortcode{
                        display: inline-block;
                    }
                }
            }
        }
    }
}
section.blog+section.noticias{
    @media screen and (max-width: $tb) {
        padding: 40px 0;
    }
    .ultimas{
        @media screen and (max-width: $tb) {
            row-gap: 30px !important;
        }
    }
    .ver-mais{
        @media screen and (max-width: $tb) {
            margin-top: 20px !important;
        }
    }
}