.row-single-noticia{
    padding: 80px 0;
    padding-bottom: 20px;
    .al-container{
        .img-noticia{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
            img{
                width: 100%;
                border-radius: 8px;
            }
        }
        .texto-noticia{
            padding-top: 80px;
            padding-bottom: 20px;
            .publicado{
                padding: 5px 0!important;
                font-size: 16px;
                color: #696968;
                padding: 0 30px;
                line-height: 1.5em;
            }
            .legend{
                padding: 20px 0;
                font-family: "Open Sans", sans-serif;
                color: #696968;
                font-weight: 500;
                font-size: 18px;
                p{
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }
            }
            .subtitle{
                font-family: "Open Sans", sans-serif;
                color: #203E4F;
                font-weight: 1000;
                text-transform: uppercase;
                font-size: 28px;
            }
        }
    }
}
@media screen and(max-width: 1230px) {
    .row-single-noticia{
        padding: 80px 20px;
        .al-container{
            .img-noticia{
                width: 100%;
            }
        }
    }
}