.row-produto{
    padding: 40px 0;
    .al-container{
        .apresentacao{
            max-width: 100%;
            width: 100%;
            padding-right: 20px;
            .title{
                font-family: "Open Sans", sans-serif;
                color: #203E4F;
                font-size: 38px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
            }
            .text{
                padding: 20px 0;
                font-family: "Open Sans", sans-serif;
                color: #696968;
                font-weight: 400;
                font-size: 18px;
                >*{
                    overflow-wrap: break-word;
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        margin-bottom: 0;
                        list-style: disc;
                        list-style-position: inside;
                    }
                }
            }
            .slide-show{
                padding: 40px 0;
                ul{
                    li{
                        img{
                            width: 100%;
                            object-fit: scale-down;
                            max-height: 500px;
                        }
                    }
                }
            }
        }
    }
}
.row-desc-produto{
    padding: 40px 0;
    .al-container{
        .desc{
            width: 100%;
            .subtitle{
                font-family: "Open Sans", sans-serif;
                color: #203E4F;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
            }
            .list{
                padding: 20px 0;
                li{
                    list-style-type: disc;
                    list-style-position: inside;
                    font-family: "Open Sans", sans-serif;
                    color: #696968;
                    font-weight: 400;
                    font-size: 18px;
                    padding: 2px 0;
                }
            }
            .list-null-style{
                padding: 20px 0;
                li{
                    font-family: "Open Sans", sans-serif;
                    color: #696968;
                    font-weight: 400;
                    font-size: 18px;
                }
            }
        }
    }
}
.row-fotos, .row-fotos-mobile{
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .al-container{
        margin: 0;
        .subtitle{
            font-family: "Open Sans", sans-serif;
            color: #203E4F;
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 20px 0;
        }
        .ul-fotos{
            display: flex;
            justify-content: flex-end;
            max-height: 290px;
            li{
                width: 412px!important;
                padding: 0 15px;
                height: fit-content;
                img{
                    width: 382px;
                    border-radius: 8px;
                }
            }
        }
    }
    .next, .prev{
        cursor: pointer;
    }
    .next{
        padding-left: 20px;
    }
    .prev{
        padding-right: 20px;
    }
    .prevFotos, .nextFotos{
        transform: translateY(35%);
    }
}
.row-videos, .row-videos-mobile{
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .al-container{
        margin: 0;
        .subtitle{
            font-family: "Open Sans", sans-serif;
            color: #203E4F;
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 20px 0;
        }
        .ul-videos{
            display: flex;
            justify-content: flex-end;
            li{
                div{
                    width: 382px;
                    margin-left: auto;
                    margin-right: auto;
                    iframe{
                        width: 382px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    .next, .prev, .lSPrev, .lSNext{    
        margin-top: 71px;
        cursor: pointer;
        padding: 0 15px;
    }
}
.row-videos-mobile{
    .nextVideos, .prevVideos, .lSPrev, .lSNext{ 
        margin-top: 0px;
    }
    .nextVideos{
        padding-left: 20px;
    }
    .prevVideos{
        padding-right: 20px;
    }
}
.row-fotos-mobile, .row-videos-mobile{
    display: none;
}
.mobile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.row-produto{
    padding-bottom: 0!important;
}
.row-desc-produto{
    padding-top: 0!important;
}
@media screen and(max-width: 1300px) {
    .row-produto{
        padding: 40px 20px;
        .al-container{
            .apresentacao, .produto-galeria{
                max-width: 100%;
                width: 100%;
            }
            .produto-galeria{
                .slide-show{
                    ul{
                        li{
                            img{
                                max-width: 70%;
                                object-fit: scale-down;
                                max-height: 300px;
                                margin-left: 15%;
                            }
                        }
                    }
                }
            }
        }
    }
    .row-desc-produto{
        padding: 40px 20px;
        .al-container{
            .desc{
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .row-fotos-mobile{
        padding: 0 20px;
        width: 375px;
        display: block;
        .al-container{
            .ul-fotos-mobile{
                height: auto;
                li{
                    img{
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    .row-fotos{
        display: none;
    }
    .row-videos-mobile{
        padding: 0 20px;
        width: 375px;
        display: block;
        .ul-videos-mobile{
            height: 258px;
            li{
                div{
                    width: 100%;
                    height: 258px;
                    iframe{
                        width: 100%;
                        height: 258px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    .row-videos{
        display: none;
    }
    .mobile{
        padding: 40px 0;
    }
}