.row-trabalhe-conosco{
    padding: 80px 0;
    .title{
        font-family: "Open Sans", sans-serif;
        color: #203E4F;
        font-size: 42px;
        font-weight: 900;
    }
    .form{
        padding: 2%;
        .wpcf7-form{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            label{
                font-family: "Open Sans", sans-serif;
                color: #1034a6;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                display: flex;
                flex-wrap: wrap;
                span{
                    width: 100%;
                    padding: 5px 0;
                }
            }
            p{
                width: 50%;
                padding: 10px 0;
            }
            .wpcf7-form-control{
                width: 85%;
                background-color: #F5F5F5;
                border: none;
                height: 40px;
                border-radius: 8px;
                padding: 0px 20px;
                font-family: "Open Sans", sans-serif;
                color: #777777;
                font-size: 16px;
                font-weight: 400;
                outline: none;
            }
            .wpcf7-textarea{
                width: 100%;
                height: 152px;
                padding: 20px 20px;
            }
            .wpcf7-select{
                -webkit-appearance: none;
                background: url() no-repeat center right 5% #F5F5F5;
            }
            .wpcf7-select:select{
                background-color: #F5F5F5;
            }
            .wpcf7-file{
                display: none;
            }
            #forcurriculo{
                width: 85%;
                background-color: #F5F5F5;
                border: none;
                height: 40px;
                border-radius: 8px;
                padding: 10px 20px;
                font-family: "Open Sans", sans-serif;
                color: #FFF;
                font-size: 16px;
                font-weight: 600;
                width: 274px;
                background-color: #006096;
                div{
                    display: flex;
                    align-items: center;
                    img{
                        padding: 0 15px;
                    }
                }
            }
            .wpcf7-submit{
                cursor: pointer;
                padding: 5px 0;
                font-family: "Open Sans", sans-serif;
                color: #FFF;
                font-size: 16px;
                font-weight: 700;
                border-radius: 50px;
                text-transform: uppercase;
                background-color: #3FD14E;
                width: 216px;
            }
            .wpcf7-spinner{
                display: none;
            }
        }
        .wpcf7-form::placeholder{
            font-family: "Open Sans", sans-serif;
            color: #777777;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
@media screen and(max-width: 1230px) {
    .fa-2x{
        font-size: 3em;
        width: 6%;
        margin-left: auto;
        margin-right: auto;
    }
    .row-trabalhe-conosco{    
        width: 100%;
        padding: 80px 5%;
        .title{
            text-align: center;
        }
        .form{
            .wpcf7-form{
                #forcurriculo{
                    div{
                        margin-left: auto;
                        margin-right: auto;
                        align-items: center;
                        display: flex;
                    }
                }
                .wpcf7-submit, #forcurriculo, .wpcf7-form-control, p{
                    width: 100%!important;
                    margin: 0!important;
                }
            }
        }
    }
}